<section class="fearture-products">
    <div class="container">
        <span class="heading__primary mb-5">
            <img src="/images/logo-mini.png" alt=""><br>
            <h1>featured products</h1>
        </span>

        <div class="owl-carousel owl-theme mt-4">
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
            <div class="item carousel__item">
                <i class="far fa-heart"></i>
                <img src="/images/21g1720.png" alt="">
                <div>
                    <p>18k White color Gold Diamond</p>
                    <p>12k</p>
                </div>
            </div>
        </div>
    </div>
</section>