
<footer class="footer">
    <div class="container">
        <img src="/images/diamond-ring-png-9.png" alt="" class="footer__bg">
        <div class="row">
            <div class="col-md-3">
                <h4 class="footer__heading">Categories</h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            whats new
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            Jewellery set
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            precious
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            accessories
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            customised
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            ocassion
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            explore all
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            today deal
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="footer__heading">Custom Care</h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            faqs
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            shiping handling
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            retrun policy
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            international orders
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            track order
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="footer__heading">Quick link</h4>
                <ul class="footer__list">
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            home
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            about
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            blog
                        </a>
                    </li>
                    <li class="footer__list-item">
                        <a href="/" class="footer__list-link">
                            <i class="fa fa-angle-right"></i>
                            contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="footer__heading">Get in touch</h4>
                <ul class="footer__list">
                    <li class="footer__item">
                        <i class="fa fa-map-marker-alt"></i>
                        <p class="m-0">There are many variations of passages
                            of Lorem Ipsum available</p>
                    </li>
                    <li class="footer__item">
                        <i class="fa fa-phone-alt"></i>
                        012345678900
                    </li>
                    <li class="footer__item">
                        <i class="fa fa-envelope"></i>
                        info@mahira.com
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy-right mt-5">
        <img src="/images/logo-full.png" alt="">
        <p class="m-0">Copyright © 2020 Mahiara All rights reserved.</p>
    </div>
</footer>