<nav class="navbar navbar-expand-lg navbar-light navigation">
    <div class="container">
        <a class="navbar-brand logo__container" href="#">
            <img class="logo__img" src="/images/logo-full.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navigation__container" id="navbarSupportedContent">
            <ul class="navbar-nav navigation__uppper">
                <li class="nav-item navigation__items">
                    <ul class="social__items">
                        <li class="social__items-list">
                            <a href="#" class="social__item">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="social__items-list">
                            <a href="#" class="social__item">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="social__items-list">
                            <a href="#" class="social__item">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li class="social__items-list">
                            <a href="#" class="social__item">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle navigation__dropdown" href="#" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i> My Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item navigation__items">
                    <a class="navbar-brand" href="#">
                        <img class="logo__img" src="/images/logo-full.png" alt="">
                    </a>
                </li>
                <li class="nav-item navigation__items">
                    <form class="form-inline my-2 my-lg-0 navigation__form">
                        <input class="form-control mr-sm-2 navigation__search" type="text" aria-label="Search">
                        <i class="fa fa-search"></i>
                    </form>
                    <div class="navigation__actions">
                        <div class="navigation__action">
                            <a href="#" class="navigation__action-link">
                                <i class="far fa-heart"></i>
                                (0)
                            </a>
                        </div>
                        <div class="navigation__action">
                            <a href="#" class="navigation__action-link">
                                <i class="fas fa-shopping-basket"></i>
                                (0)
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav navigation__down">
                <li class="nav-item">
                    <a class="nav-link" href="#">Whats new</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">jewelry</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">jewelry set</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">precious</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">accessories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">customised</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ocassion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">explore all</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">today deal</a>
                </li>
            </ul>
        </div>
    </div>
</nav>