<section class="newsletter">
    <div class="container">
        <div class="row justify-content-center">
            <span class="heading__primary">
                <img src="/images/logo-mini.png" alt=""><br>
                <h1>subscribe our newsletter</h1>
            </span>

            <form class="mt-4 newsletter__form">
                <input type="email" class="form-control rounded-0" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">

                <button type="submit" class="btn btn-black btn-lg rounded-0">Subscribe</button>
            </form>

        </div>
    </div>
</section>