<%- include('includes/head') -%>
<%- include('includes/nav') -%>

<section class="login">
    <div class="container">
        <div class="login__wrapper p-5">
            <div class="row">
                <div class="col-md-6">
                    <span class="heading__secondary">
                        <img src="/images/logo-mini.png" alt=""><br>
                        <h2>Login</h2>
                    </span>

                    <form class="mt-5">
                        <div class="form-group">
                            <input type="email" class="form-control input-custom" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Username">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="form-group mt-5">
                            <input type="password" class="form-control input-custom" id="exampleInputPassword1"
                                placeholder="Password">
                            <i class="fas fa-key"></i>
                        </div>
                        <div class="form-group form-check d-flex justify-content-between login__forgot">
                            <div>
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                            </div>
                            <a href="#">Forgot password?</a>
                        </div>
                        <button type="submit" class="btn btn-block button-custom">Login</button>
                    </form>

                    <div class="login__other mt-5">
                        <h4>or, Signup Using</h4>
                        <div class="login__icons mt-4">
                            <a href="#">
                                <img src="/images/fb-icon.png" alt="">
                            </a>
                            <a href="#">
                                <img src="/images/tw-icon.png" alt="">
                            </a>
                            <a href="#">
                                <img src="/images/new-google-favicon-512.png" alt="">
                            </a>
                        </div>
                        <h5 class="mt-5">don't have account? <a href="#">Signup Here</a></h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="login__right">
                        <img class="login__image"
                            src="/images/diamond-necklace-png-truly-beautiful-diamond-necklace-2200.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('includes/footer') -%>
<%- include('includes/end') -%>